{% extends 'blog.html.twig' %}

{% block body %}
<div class="row m-1 m-md-0">
    <div class="offset-xl-2 offset-lg-1 col-xl-6 col-lg-8 col-md-9 col-12">
        {% for post in posts %}
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="h2 card-title"><a href="/blog/{{ post.id }}" class="text-dark">{{ post.title }}</a></h1>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ post.date|date("d-m-Y") }}
                                {% if post.activityGroup %}
                                    - <a href="/?group={{ post.activityGroup.id }}" class="text-muted">{{ post.activityGroup.title }}</a>
                                {% endif %}
                            </h6>
                        </div>
                        <div class="card-body pb-0">
                            {{ post.text|markdown|split('</p>')|first|raw }}
                            <br>
                            <br>
                            <a href="/blog/{{ post.id }}" class="btn btn-sm btn-outline-secondary">Lees verder <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-2 col-md-3 col-12">
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="h6 card-title">Filteren:</h6>
                    </div>
                    <div class="card-body">
                        <small>
                        <a href="/" class="{% if group == null %}font-weight-bold{% endif %}">Alle berichten</a><br>
                        {% for groupFilter in groups %}
                            <a href="/?group={{ groupFilter.id }}" class="{% if group == groupFilter.id %}font-weight-bold{% endif %}">
                                {{ groupFilter.title }}
                            </a>
                            <br>
                        {% endfor %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="h6 card-title">Informatie:</h6>
                    </div>
                    <div class="card-body">
                        <small>
                            <i>Spiritus <a href="https://www.santosbikes.com" target="_blank">Santos</a></i>: niet de heilige geest, maar de fietsgeest.
                            <br><br>
                            Dit blog beschrijft tochten die Janneke en Henri, samen of alleen, fietsen (of wandelen). Gegroepeerd per reis of gewoon losse ritjes.
                            <br><br>
                            De ritgegevens (route, hoogtemeters, etc.) komen vanuit <a href="https://www.strava.com" target="_blank">Strava</a> en van alle tochten is ook een GPX-bestand te downloaden.
                            <br><br>
                            Benieuwd naar de broncode?<br>Check <a href="https://www.github.com/aiolos/streber" target="_blank">Github</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-1 m-md-0">
    <div class="offset-xl-2 offset-lg-1 col-xl-6 col-lg-8 col-md-9 col-12">
        <div class="float-right mt-2">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item {% if currentPage <= 1 %}disabled{% endif %}"><a class="page-link" href="/?page={{ currentPage - 1 }}{% if group %}&group={{ group }}{% endif %}">Vorige</a></li>
                    {% for page in 1..pages %}
                    <li class="page-item {% if page == currentPage %}active{% endif %}"><a class="page-link" href="/?page={{ page }}{% if group %}&group={{ group }}{% endif %}">{{ page }}</a></li>
                    {% endfor %}
                    <li class="page-item {% if currentPage >= pages %}disabled{% endif %}"><a class="page-link" href="/?page={{ currentPage + 1 }}{% if group %}&group={{ group }}{% endif %}">Volgende</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
