{% extends 'blog.html.twig' %}

{% block body %}
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-sm-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <a href="/" class="btn btn-sm btn-outline-secondary"><i class="fa fa-arrow-left"></i> Terug</a>
                <h1 class="h2">
                    <i class="fa fa-comment"></i> {{ post.title }}
                </h1>
                <h4 class="text-muted">{{ post.date|date('d-m-Y') }}</h4>
            </div>

            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-body">
                            {{ post.text|markdown }}<br>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <i class="fa fa-bicycle"></i>
                                De rit:
                            </h5>
                        </div>
                        <div class="card-body">
                            Afstand: {{ (activity.distance / 1000)|number_format(1, ',', '.') }} km<br>
                            Hoogtemeters: {{ activity.total_elevation_gain|number_format(0, ',', '.') }} m<br>
                            Tijd bewogen: {{ activity.moving_time|time_format_long }}<br>
                            Tijd totaal: {{ activity.elapsed_time|time_format_long }}<br>
                            Gemiddelde snelheid: {{ (activity.average_speed * 3.6)|number_format(1, ',', '.') }} km/h<br>
                            Max snelheid: {{ (activity.max_speed * 3.6)|number_format(1, ',', '.') }} km/h<br>
                        </div>
                    </div>
                    <div class="card">
                        <div class="h-100">
                            <div id="map" class="map" style="width: 100%; height: 22vh;"></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                {% for photo in photos %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <a href="{{ photo.urls|first }}" data-toggle="lightbox" data-gallery="activity-gallery" data-title="{{ photo.caption }}">
                                            <img src="{{ photo.urls|first }}" class="img-fluid rounded m-0">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="h-100">
                            <div id="altitudeDiv"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/ekko-lightbox.css" />
{% endblock %}

{% block javascripts %}
    {% include 'partials/map.html.twig' %}
    {% include 'partials/graphs.html.twig' %}

    <script src="/assets/js/ekko-lightbox.min.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}
