{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2"><i class="fa fa-map-signs"></i> Segment: {{ segment.name }}</h1>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-info"></i> Gegevens:</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Type: {{ segment.activity_type }}<br>
                        Afstand: {{ (segment.distance / 1000)|number_format(2, ',', '.') }} km<br>
                        Hoogste punt: {{ segment.elevation_high|number_format(1, ',', '.') }} m<br>
                        Laagste punt: {{ segment.elevation_low|number_format(1, ',', '.') }} m<br>
                        Hoogte: {{ segment.total_elevation_gain|number_format(1, ',', '.') }} m<br>
                        Max stijging: {{ segment.maximum_grade|number_format(1, ',', '.') }}%<br>
                        Gem stijging: {{ segment.average_grade|number_format(1, ',', '.') }}%<br>

                        Gemaakt: {{ segment.created_at|date("Y-m-d H:i") }}<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-users"></i> Deelnemers:</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Totaal pogingen: {{ segment.effort_count }}<br>
                        Aantal deelnemers: {{ segment.athlete_count }}<br>
                        Favoriet: {{ segment.star_count }}<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-user-clock"></i> Pogingen:</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Eigen pogingen: {{ segment.athlete_segment_stats.effort_count }}<br>
                        PR: {{
                            (segment.athlete_segment_stats.pr_elapsed_time / 60)|number_format }}:{{
                            "%02d"|format(segment.athlete_segment_stats.pr_elapsed_time % 60)
                        }}<br>
                        PR-datum: {{ segment.athlete_segment_stats.pr_date }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h3><i class="fa fa-stopwatch"></i> Pogingen:</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="effortsTable">
            <thead>
            <tr>
                <th>Positie</th>
                <th>Datum/Tijd</th>
                <th>Afstand</th>
                <th>Afstand</th>
                <th>Tijd</th>
                <th>Tijd</th>
                <th>Snelheid</th>
                <th>Snelheid</th>
                <th>Cadans</th>
                <th>Vermogen</th>
                <th>Avg <i class="fa fa-heart"></i></th>
                <th>Max <i class="fa fa-heart"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for effort in efforts %}
                <tr>
                    <td>{{ effort.pr_rank }}</td>
                    <td>{{ effort.start_date_local|date("Y-m-d H:i") }}</td>
                    <td class="text-right">{{ (effort.distance / 1000)|number_format(2, ',', '.') }} km</td>
                    <td>{{ (effort.distance / 1000) }}</td>
                    <td class="text-right">{{ (effort.elapsed_time / 60)|number_format }}:{{ "%02d"|format(effort.elapsed_time % 60) }}</td>
                    <td>{{ effort.elapsed_time }}</td>
                    <td class="text-right">{{ (effort.distance / effort.elapsed_time * 3.6)|number_format(1, ',', '.') }} km/h</td>
                    <td>{{ (effort.distance / effort.elapsed_time * 3.6) }}</td>
                    <td class="text-right">{{ effort.average_cadence|number_format }}</td>
                    <td class="text-right">{{ effort.average_watts|number_format }}</td>
                    <td class="text-right">{{ effort.average_heartrate is defined ? effort.average_heartrate|number_format : '-' }}</td>
                    <td class="text-right">{{ effort.max_heartrate is defined ? effort.max_heartrate|number_format : '-' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#effortsTable').DataTable({
                order: [[ 5, 'asc'], [0, 'asc']],
                columns: [
                    { data: "pr_rank" },
                    { data: "datetime" },
                    { data: "distance", orderData: 3 },
                    { data: "distanceRaw", visible: false },
                    { data: "time", orderData: 5 },
                    { data: "timeSeconds", visible: false },
                    { data: "speed", orderData: 7 },
                    { data: "speedRaw", visible: false },
                    { data: "cadence" },
                    { data: "power" },
                    { data: "heartbeat_avg" },
                    { data: "heartbeat_max" }
                ]
            });
        } );
    </script>
{% endblock %}
