{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="offset-lg-2 offset-md-1 col-lg-8 col-md-10 col-sm-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">
                    <i class="fa fa-file-alt"></i> {{ post.title }}
                </h1>
                <div class="float-right">
                    <a href="/posts/edit/{{ post.id }}" class="btn btn-sm btn-outline-secondary">
                        <i class="fa fa-edit"></i> Wijzig bericht
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-body">
                            {{ post.text|markdown }}<br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-body">
                            Status: {{ post.status }}<br>
                            Datum: {{ post.date|date("d-m-Y") }}<br>
                            Groep: {% if post.activityGroup %}{{ post.activityGroup.title }}{% endif %}<br>
                            <br>
                            <b>Grafieken:</b><br>
                            Hoogte: {% if post.altitude %}<i class="fa fa-check"></i>{% endif %}<br>
                            Hartslag: {% if post.heartrate %}<i class="fa fa-check"></i>{% endif %}<br>
                            Cadans: {% if post.cadence %}<i class="fa fa-check"></i>{% endif %}<br>
                            Temperatuur: {% if post.temperature %}<i class="fa fa-check"></i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <i class="fa fa-map-signs"></i>
                                {{ activity.name }}
                                <div class="float-right">
                                    <a href="/activities/{{ activity.id }}" class="btn btn-sm btn-outline-secondary">
                                        <i class="fa fa-globe"></i> Bekijk
                                    </a>
                                </div>
                            </h5>
                        </div>
                        <div class="card-body">
                            Afstand: {{ (activity.distance / 1000)|number_format(2, ',', '.') }} km<br>
                            Hoogtemeters: {{ activity.total_elevation_gain|number_format(0, ',', '.') }} m<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
